#featuredMain{
    background-color: #373234;
    h3{
        font-size: 1.5em;
    }
    padding: 0 2em;
}
section{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#featuredSec2{
    margin-top: 2em;
}
#featuredSec3{
    margin:2em 0;
    div{
        text-align: right;
        a{
            text-decoration: none;
            color: beige;
            padding: 5px;
            background-color: #f6b979;
            display: inline-block;
            margin-top: 10px;
            
        }
    }
}

@media screen and (min-width: 375px){
    #featuredSec1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #featuredSec2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

       #right {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            margin-left: 10em;
        }
    }
    #featuredSec3{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
