#homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373234;
}
#promoCon1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 100%;
  h2 {
    color: #373234;
    font-weight: bold;
  }
}
#promoImg1 {
  display: flex;
  flex-direction: column-reverse;
}
.promos {
  div {
    text-align: center;

    a {
      text-decoration: none;
      color: beige;
      padding: 5px;
      display: inline-block;
      background-color: #f6b979;
      margin-top: 10px;
    }
  }
}

.serImg1 {
  padding: 0 1em;
  div {
    background-color: #f6b979;
    width: 230px;
    padding: 5px;
    h4 {
      font-size: 1em;
    }
  }
}
#serviceIcon {
  display: none;
}
#promoCon2 {
  margin: 2em;
  p {
    margin: 5px;
  }
}
@media screen and (min-width: 375px) {
  #serviceImg {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3em;
    // buraya tekrar bak???????
  }
  #serviceIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //box-sizing: border-box;
    // width: 100%;
  }
}

.icon {
  // padding-left: 50px;
  margin-bottom: 30px;
  img {
    width: 60px;
    height: 60px;
  }
  h4 {
    color: #373234;
    font-size: 1.2em;
  }
}
.dots {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #d84338;
  margin: 1.5em 0.1em 0px 0.1em;
}
@media screen and (min-width: 768px) {
  #serviceImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #promoCon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #promoImg1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #promoImg2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .icon {
    // padding-left: 50px;
    margin-bottom: 30px;
    img {
      width: 90px;
      height: 90px;
    }
  }
  .dots {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #d84338;
    margin: 2.5em 0.2em 0px 0.2em;
  }
}

#mainVideo {
  width: 100%;
  margin: 1% auto 0 auto;
  border: thin solid #949393;
}

#volume_controls {
  display: flex;
  justify-content: center;
}

#volume_controls img {
  width: 25px;
  height: 25px;
  margin: 3px;
}

.controlCont {
  background-color: #ffffff;
}
