#portfolioMain{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #373234;
    div{
        margin-bottom: 2em;
    }
    section{
        margin-bottom: 2em;
        #arrow{
            margin-left: 50%;
            margin-top: 1em;
        }
    }
}

@media screen and (min-width: 375px){
    #portfolioImg{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
       justify-content: center;

    }
}
